{% extends 'base.html' %}
{% load static %}
<html>
<head>
    <title>My Profile</title>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,500&display=swap" rel="stylesheet"/>
</head>

<body>
<section class="profile-card">

    <img src="{% static 'images/profile-picture.png' %}" class="avatar">

    <h1>Guest User</h1>
    <p>Member since: 2026</p>

    <p>
        <a href="#">Open Favorites List</a>
    </p>

    <hr>

    <h3>Account Settings</h3>

    <button>Change Profile Picture</button>
    <button>Change Username</button>
    <button>Change Password</button>

    <br><br>

    <a href="{% url 'home' %}">Back to Home</a>

</section>

{% endblock content %}

</body>
</html>